<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>เว็บแปลงเลขทศนิยม&แก้ระบบสมการ</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'myapp/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'myapp/css/sb-admin-2.min.css'%}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Integration</h1>
                    <h4 class="h4 text-gray-900 mb-4">หาพื้นที่ใต้กราฟ</h4>
                  </div>
                  <form action='' method="post">
                    {% csrf_token %}
                    เลือกฟังก์ชั่น
                    <select class="form-control" name=function>
                        <option value="trapezoidal">Trapezoidal Rule</option>
                        <option value="simson">Simpson's Rule</option>
                    </select><br>
                    ฟังก์ชั่น
                    <input name="fx" type="text" step=any class="form-control" placeholder="e**x" value="e**x">
                    <br>
                      <input type="submit" class="btn btn-primary btn-user btn-block" ></input>
                  </form>
            
                    <hr>
                    <div class="col-md-6" >
                      <h2><strong> ผลลัพธ์ </strong></h2>
                      <h4>{{x}}</h4>
                      <br>
                  </div>
                    <a href="/" class="btn btn-facebook btn-user btn-block">
                      <i></i> Back
                    </a>
                  </form>
                  <hr>
                 
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'myapp/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'myapp/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'myapp/jquery-easing/jquery.easing.min.js'%}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'myapp/js/sb-admin-2.min.js'%}"></script>

</body>

</html>
